*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    height: 60px;
}
.navbar{
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}
.navbar ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}
.navbar ul li{
    margin-left: 12px;
}
.navbar ul li a{
    color: #000;
}
.link:hover{
    text-decoration: underline;
}
.menu-header{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu-header:hover{
    background-color: #dfe1e5;
}

.acc-ico:hover{
	box-shadow: 0px 0px 10px 3px lightgrey;
}
.k1zIA {
    height: 100%;
    margin-top: auto;
}
.PinNVd {
    height: 6vh;
}
.logo{
    width: 275px;
    height: 50%;
    margin-top: auto;
    align-items: center;
}
.LS8OJ {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AvNkr{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.searchbar-setting{
    justify-content: center;
}
.searchbar-setting .input_text{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.input_text{
    border: 1px solid #dfe1e5;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    padding-left: 15px;
}
.input_text:hover{
    box-shadow: #dfe1e5;
    background: rgb(255, 255, 255) ;
	color: #000;
    box-shadow:0px 0px 5px 1px grey;
}
.input_text img{
    cursor: pointer;
    margin-right: 15px;
}
.input_text input{
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
    text-align: center;
}
.Searchbar{
    
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.google_search{
    color: rgb(74, 73, 73);
    background-color :rgb(248, 248, 248);
    outline: none;
    border: none;
    font-size: x-small;
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}
.im_feel_lucky{
    background-color :rgb(248, 248, 248);
    color: rgb(74, 73, 73);
    outline: none;
    border: none;
    font-size: x-small;
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}
.google_search:hover{
    border: 0.5px solid gray;
    box-shadow: #dfe1e5;
    background: rgb(240, 240, 240) ;
	color: #000;
	box-shadow: 0px 0px 5px 0px lightgrey;
	transform : translate(2px,2px,1px,1px);
}
.im_feel_lucky:hover{
    border: 0.5px solid gray;
    box-shadow: #dfe1e5;
    background: rgb(240, 240, 240) ;
	color: #000;
	box-shadow: 0px 0px 5px 0px lightgrey;
	transform : translate(2px,2px,1px,1px);
}
.SIvCob {
    color: #4d5156;
    text-align: center;
    flex-direction: row;
    line-height: 40px;
    font-size: x-small;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.SIvCob a{
    padding: 2px 2px 2px 2px;
    text-decoration: none;
}
.SIvCob a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 650px){
    .input_text{
        width: 90%;
    }
    .input_text input{
        width: 50%;
    };
}